<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>New order (mobile)</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Email Templates for Foodly Theme">
    <meta name="author" content="Congruity Hub">
    <!-- Styles -->
    <link href="../fonts/fonts.css" type="text/css" rel="stylesheet" />
    <link href="../css/custom-style.css" type="text/css" rel="stylesheet" />

    <!-- Favicons -->
    <link rel="shortcut icon" href="../ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="../ico/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../ico/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../ico/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../ico/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon-precomposed" href="../ico/apple-touch-icon-57x57.png">
</head>

<body>
    <div class="wrapper">
        <div class="container">
            <h1 class="heading heading--seperate">New order (mobile)</h1>
            <div class="code-container">
                <h2 class="code-heading">Please, press Ctrl+C (Cmd+C) to copy the code</h2>
                <textarea class="email-code-area">
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <!-- General page information -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>New order (mobile)</title>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,700|Bitter' rel='stylesheet' type='text/css'>
    <!-- Custom Style -->
    <style type="text/css">
    [style*="Raleway"] {
        font-family: Raleway, Tahoma, Geneva, sans-serif !important;
    }
    
    [style*="Bitter"] {
        font-family: Bitter, 'Palatino Linotype', 'Book Antiqua', Palatino, serif !important;
    }
    </style>
</head>

<body style="margin:0; padding:0;">
    <table width="100%" height="100%" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;" bgcolor="#f5f4f4">
        <tr>
            <td>
                <table width="520" cellpadding="0" cellspacing="0" align="center" border="0" style="border-collapse:collapse;">
                    <!-- Top space -->
                    <tr>
                        <td valign="top" align="center" height="80" style="font-size:1px;"></td>
                    </tr>
                    <!-- end top space -->
                    <!-- Header -->
                    <tr>
                        <td valign="top" align="center" bgcolor="#ffffff" style="font-size:1px;">
                            <table width="460" cellpadding="0" cellspacing="0" align="center" border="0" style="border-collapse:collapse;">
                                <tr>
                                    <td valign="top" align="center" style="font-size:1px;">
                                        <!-- Point -->
                                        <table cellpadding="0" cellspacing="0" align="center" border="0" style="border-collapse:collapse;">
                                            <tr>
                                                <td valign="top" align="center" height="38" style="font-size:1px;"></td>
                                            </tr>
                                            <tr>
                                                <td valign="top" align="center" height="4" width="4" style="font-size:4px; border-radius: 50%; background-color: #5c4b51;">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td valign="top" align="center" height="37" style="font-size:1px;"></td>
                                            </tr>
                                        </table>
                                        <!-- End Point -->
                                        <table cellpadding="0" cellspacing="0" align="center" border="0" style="border-collapse:collapse;">
                                            <tr>
                                                <td valign="top" align="center" style="font-family: Bitter, 'Palatino Linotype', 'Book Antiqua', Palatino, serif; font-size:24px; color: #5c4b51; line-height: 30px;">
                                                    {{ shop_name | capitalize }},
                                                </td>
                                            </tr>
                                            <tr>
                                                <td valign="top" align="center" height="13" style="font-size:1px;"></td>
                                            </tr>
                                            <tr>
                                                <td valign="top" align="center" style="font-size:16px; font-family: Raleway, Tahoma, Geneva, sans-serif; line-height: 30px; color: #5c4b51;">
                                                    {{ customer.name | default: "A customer" }} placed a new order with you today
                                                </td>
                                            </tr>
                                            <tr>
                                                <td valign="top" align="center" style="font-size:16px; font-family: Raleway, Tahoma, Geneva, sans-serif; line-height: 30px; color: #5c4b51;">
                                                    {{ date | date: "%b %d %I:%M%p" }}:
                                                </td>
                                            </tr>
                                            <tr>
                                                <td valign="top" align="center" height="37" style="font-size:1px;"></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <!-- End header -->
                    <!-- Footer -->
                    <tr>
                        <td valign="top" align="center" bgcolor="#ffffff" style="font-size:1px;">
                            <table width="460" cellpadding="0" cellspacing="0" align="center" border="0" style="border-collapse:collapse;">
                                <tr>
                                    <td valign="top" align="center" style="font-size:1px;">
                                        <!-- Point -->
                                        <table cellpadding="0" cellspacing="0" align="center" border="0" style="border-collapse:collapse;">
                                            <tr>
                                                <td valign="top" align="center" height="4" width="4" style="font-size:4px; border-radius: 50%; background-color: #5c4b51;">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td valign="top" align="center" height="37" style="font-size:1px;"></td>
                                            </tr>
                                        </table>
                                        <!-- End Point -->
                                    </td>
                                </tr>
                            </table>
                            <!-- End 540px table -->
                        </td>
                    </tr>
                    <!-- End Footer -->
                    <!-- Bottom space -->
                    <tr>
                        <td valign="top" align="center" height="80" style="font-size:1px;"></td>
                    </tr>
                    <!-- end Bottom space -->
                </table>
                <!-- End content table -->
            </td>
        </tr>
    </table>
    <!-- End main wrapper table -->
</body>

</html>
                </textarea>
            </div>
        </div>
    </div>
    <script>
        var emailCode = document.querySelector('.email-code-area');

        emailCode.focus();
        emailCode.setSelectionRange(0, emailCode.value.length);
    </script>
</body>

</html>
